body {
  font-family: 'Saira Semi Condensed', sans-serif !important;
}

.navbar-collapse .nav>li>a:hover, .navbar-collapse .nav>li>a:focus {
  background-color: #e28fa7;
  color: black;
}

.nav {
  font-size: 120%;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.navActive {
  background-color: #e28fa7;
}

.navbar-brand {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 350% !important;
  text-decoration: none;
  color: black !important;
}

.col {
  text-align: center;
  background-color: #ededed;
  min-width: 200px;
  text-decoration: none !important;
  color: black !important;
  font-size: 225%;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.col:hover {
  background-color: #fca0ba;
}

.text {
  width: 60%;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #fca0ba !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  box-shadow: 0px 5px 5px #888888;
}

.navbar-toggle {
  background-color: #e28fa7 !important;
}

.container {
  width: 20%;
}

.container-fluid {
  width: 80%;
}

.link a:hover {
  background-color: pink !important;
}

.nav {
  min-width: 300px;
}

@media (min-width: 768px) {
  .container {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .li {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
