body {
  font-family: 'Saira Semi Condensed', sans-serif !important;
}

.navbar-collapse .nav>li>a:hover, .navbar-collapse .nav>li>a:focus {
  background-color: #e28fa7;
  color: black;
}

.nav {
  font-size: 120%;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.navActive {
  background-color: #e28fa7;
}

.navbar-brand {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 350% !important;
  text-decoration: none;
  color: black !important;
}

.col {
  text-align: center;
  background-color: #ededed;
  min-width: 200px;
  text-decoration: none !important;
  color: black !important;
  font-size: 2.2vw;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  flex-grow: 1;
  min-width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 11vh;
}

.col:hover {
  background-color: #fca0ba;
}

.text {
  width: 60%;
}

.backgroundimg {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  opacity: 0.15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.navbar {
  background-color: #fca0ba !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  box-shadow: 0px 5px 5px #888888;
}

.navbar-toggle {
  background-color: #e28fa7 !important;
}

.container {
  width: 20%;
}

.container-fluid {
  width: 80%;
}

.link a:hover {
  background-color: pink !important;
}

.nav {
  min-width: 300px;
}

@media (min-width: 768px) {
  .container {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .li {
    padding-left: 3%;
    padding-right: 3%;
  }
  .text {
    width: 90% !important;
  }
  .fronttext {
    width: 90% !important;
  }
  .regeltext {
    width: 90% !important;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.fronttext {
  width: 60%;
  font-size: 135%;
  position: relative;
  z-index: 0;
}

.fronttext a, .fronttext a:hover{
  text-decoration: none !important;
}

.text a, .text a:hover {
  text-decoration: none !important;
}

.glatt {
  text-align: center;
  font-size: 170%;
}

.googleforms {
  text-align: center;
}

.regeltext {
  width: 60%;
  font-size: 120%;
}

.imgwrapper {
  width: 40%;
}

.imgwrapperbluff {
  width: 20%;
}
